*{
    box-sizing: border-box;
}
body{
    background-color:rgb(248, 236, 222) ; 
    cursor:pointer;
}

main h1{  
    font-family: "Pacifico", cursive;
    font-weight: 400;
    position: relative;
    padding: 100px 0; 
    font-size: 50px;
    color: #352e28;
    isolation: isolate;
}
main h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
main h1:hover::before{
    height: 40%;
}
.bordr{
    border-top: dotted black;
    border-bottom: dotted black;
}
main h2{
    background:linear-gradient(to right, #3ca55c, #b2ac4a);
    display: inline-block;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}

main .bookmark-quote i{
    font-size: 23px;
}
.btn-visit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
}
.btn-delete {
    --bs-btn-color: #fff;
    --bs-btn-bg: #eb1d36;
    --bs-btn-border-color: #eb1d36;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d30820;
    --bs-btn-hover-border-color: #ba081d;
}

